# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

# config SHIELD_PULSO_LEFT_CENTRAL
#    def_bool $(shields_list_contains,pulso_left_central)

config SHIELD_PULSO_RIGHT
    def_bool $(shields_list_contains,pulso_right)

config SHIELD_PULSO_DONGLE
    def_bool $(shields_list_contains,pulso_dongle)

config SHIELD_PULSO_LEFT
    def_bool $(shields_list_contains,pulso_left)
